[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
celery = {extras = ["redis"],version = "*"}
# celery dependency that is broken at version 4.6.5, pinning at working version
# https://github.com/celery/kombu/issues/1087
kombu = "==4.6.3"
kafka-python = "*"


[requires]
python_version = "3.7"
